
body {
    margin: 10px;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #70757a;
  }

.flex-container{
    border: 2px solid #DFE1E5;
    padding: 10px;
    border-radius: 10px;
	width: 95%;
	min-height: 300px;
	margin: 0 auto;
	display: -webkit-flex; /* Safari */		
	display: flex; /* Standard syntax */
}

.flex-container .column{
    margin-left: 10px;
	padding: 0px;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}

/*Hide the styling on the number inputs */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.inputStyling {
    width: 90%;
    padding: 12px 20px;
    font-size: 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #DFE1E5;
    border-radius: 5px;
    color: rgb(92, 91, 91);

}

.outputTextStyling {
    margin: 10px;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #70757a;

    position: absolute;
    top: 330px;
    /* bottom: 10%; */
    /* left: 50%; */
}

.button {
    background-color: #8b8d91;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    background: rgb(92, 91, 91);
}